
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#main{
    width:1200px;
    margin:20px auto;
}
/* 面包屑导航 */
#main .bread-nav{
    width:1200px;
    height: 30px;
    line-height: 30px;
    margin: 20px auto;
}
#main .bread-nav li{
    padding-right: 20px;
    text-align: center;
    float: left;
    font-size: 14px;
}
#main .bread-nav li:not(:last-child)::after{
    padding-left:10px;
    content:">";
}
#main .bread-nav li a{
    text-decoration: none;
    color:#000;
}
#main .bread-nav li a:hover{
    color:#b5181d;
}
/* 商品标题 */
#main .detial_title{
    height: 46px;
}
#main .detial_title h3{
    float: left;
    line-height: 46px;
    font-size:18px;
    color:#333;
}
#main .detial_title ul{
    line-height: 46px;
    float:right;
}
#main .detial_title ul li{
    float:left;
    font-size: 16px;
    padding-right:10px;
}
#main .detial_title ul li:not(:last-child)::after{
    content:"|";
    color:#cecece;
    padding-left:10px;
}
/* 商品介绍 */
#main .detial_main{
    padding:30px 0;
    border-top:1px solid #cecece;
    border-bottom: 1px solid #cecece;
}
#main .detial_main::after{
    content: "";
    display:block;
    clear: both;
}
/* 左侧小图 */
#main .detial_main .left ul{
    float:left;
    height:400px;
    list-style: none;
    display:flex;
    flex-flow: column;
    justify-content: space-around;
}
#main .detial_main .left ul li{
    width:68px;
    height:68px;
    border: 1px solid #cecece;
    overflow: hidden;
}
#main .detial_main .left ul li:hover{
    border: 1px solid #b5181d;
}
/* 中间大图 */
#main .detial_main .center{
    float: left;
    width:400px;
    height: 400px;
    border:1px solid #cecece;
    margin:0 50px;
    overflow: hidden;
}
/* 右侧购买栏 */
#main .detial_main .right{
    width:500px;
    height:400px;
    float:right;
    margin-right:100px;
}
#main .detial_main .right p,
#main .detial_main .right ul{
    color:#666;
    font-size:16px;
    margin-bottom: 20px;
}
/* 特惠价 */
#main .detial_main .right p.price{
    color:#b5181d;
   
}
#main .detial_main .right p.price span{
    font-size: 24px;
    font-weight: bold;
}
/* 颜色 */
#main .detial_main .right p.color a{
    margin-left:5px;
    width:60px;
    height:30px;
    padding:5px;
    text-align: center;
    border:1px solid #cecece;
    display: inline-block;
}
/* 尺码 */
#main .detial_main .right ul{
    height:20px;
    line-height: 20px;
}
#main .detial_main .right ul li{
    float:left;
    box-sizing: border-box;
}
#main .detial_main .right ul li:first-child{
    height:25px;
    line-height: 25px;
    margin-right:10px;
}
#main .detial_main .right ul li:not(:first-child){
    font-size:12px;
    width:25px;
    height:25px;
    text-align: center;
    line-height: 20px;
    margin-right:10px;
    border:1px solid #cecece;
}
#main .detial_main .right ul li:not(:first-child):hover{
    border:1px solid #b5181d;
}
.active{
    border:1px solid #b5181d !important;
}
#main .detial_main .right ul li a{
    color:#000;
}
/* 数量 */
#main .detial_main .right p.count{
    height:20px;
    line-height: 20px;
} 
#main .detial_main .right p button{
    margin-left:5px;
    width:20px;
    height: 20px;
    text-align: center;
    border:1px solid #666;
    background-color: #cecece;
    outline: none;
    margin:0 5px; 
}
#main .detial_main .right .count input{
    width:40px;
    height:20px;
    outline: none;
    font-size: 12px;
    text-align: center;
    padding:3px;
    border:1px solid #666;
    position: relative;
    top:-1px;
}
/* 已选颜色 */
#main .detial_main .right p.select span{
    margin-left:5px;
    border:1px solid #b5181d;
    width:60px;
    height:30px;
    padding:5px;
    text-align: center;
    display: inline-block;
}
/* 立即购买 加入购物车 */
#main .detial_main .right .buy,
#main .detial_main .right .shopping{
    width:168px;
    height:33px;
    text-align: center;
    line-height: 33px;
    border:1px solid #b5181d;
    font-size:14px;
    display: inline-block;
    margin-bottom: 20px;
}
#main .detial_main .right .buy{
    background-color:#f7abaf;
    color:#b5181d 
}
#main .detial_main .right .shopping{
    background-color:#b5181d;
    color:#fff;
}
/* 优惠提示 */
#main .detial_main .right .tips{
    width:400px;
    height:50px;
    border-top: 1px solid #b5181d;
    border-bottom:1px solid #b5181d;
    padding-top:16px;
    position: relative;
}
#main .detial_main .right .tips>span{
    font-size:14px;
    color:#b5181d;
    background-color:#fff;
    font-weight: bold;
    padding:0 5px;
    position: absolute;
    top:-9px;
    left:160px;
}
#main .detial_main .right .tips>p>span{
    background-color: #b5181d;
    color:#fff;
    padding:0 5px;
    margin-right:10px;

}

/* 详情介绍 */
#main .detial_intr p,
#main .detial_intr span{
    color:#666;
    font-size: 14px;
    font-weight: bold;
    margin-top:40px;
    margin-bottom: 5px;
}
#main .detial_intr span{
    font-weight: normal;
}
#main .detial_intr img{
    display: block;
}











