*{margin: 0;padding: 0;}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:#808080;
}
/*头部上部分*/
.top{
    height: 31px;
    line-height: 31px;
    background-color: #f7f7f7;
    border-bottom:1px solid #ccc;
}
.top .container{
    width:1200px;
    margin:0 auto;
}
.top .container>ul{
    float: right;
}
.top .container>ul>li{
    color:#808080;
    font-size: 14px;
    float:left;
    margin-right: 10px;
}
.top .container>ul>li a .wz{
    margin-right: 3px;
}
.top .container>ul>li a img{
    width: 20px;
    height:20px;
    vertical-align: middle;
}
.top .container>ul>li a:hover{
    color:#a10000;
}
/*头部中间部分*/
.middle{
    width:1200px;
    height:50px;
    margin:20px auto;
}
.middle .logo{
    float: left;
}
.middle .search{
    width:440px;
    height: 50px;
    float: right;
    overflow: hidden;
}
.middle .search .text{
    width:260px;
    height:30px;
    font-size: 12px;
    border:1px solid #c9caca;
    outline: none;
    padding:0 5px;
    box-sizing: border-box;
    float:left;
}
.middle .search .btn{
    width:50px;
    height:30px;
    line-height: 30px;
    text-align: center;
    color:#fff;
    font-size: 14px;
    border: none;
    outline: none;
    background-color:#b5181d;
}
.middle .shopCar{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color:#b5181d ;
    color:#fff;
    font-size: 12px;
    float: right;
}
.middle .search .shopCar img{
    width: 20px;
    height:20px;
    vertical-align: middle;
    margin:0 5px;
}
.middle .search p{
    clear: both;
    font-size: 12px;
    color: #808080;
    margin-top: 5px;
    margin-left: 20px;
}
/*头部下部分*/
.bottom{
    width:1200px;
    margin:0 auto;
    margin-top: 10px;
    height:50px;
    background:linear-gradient(to bottom,#e34051,#ff803d);
}
.bottom ul{
    height: 50px;
}
/*一级菜单栏*/
.bottom ul li{
    float:left;
    width:150px;
    height:50px;
    text-align: center;
    line-height: 50px;
    font-size:16px;
    position:relative;
}
.bottom>ul>li>a{
    width:150px;
    height:50px;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    line-height:50px;
    color:#fff;
    display:block;
}
.bottom>ul>li>a:hover{
    color:#b5181d;
    background-color:#eee;
}

/*二级菜单*/
.bottom>ul>li>ul{
    clear:both;
    width:150px;
    position:absolute;
    left:0;
    z-index: 2;
}
/*设置二级菜单的li样式*/
.bottom>ul>li>ul>li{
    width:150px;
    height:40px;
}
.bottom>ul>li>ul{
    height:0;
    opacity: 0;
    overflow: hidden;
    transition: all .5s linear;
}
.bottom>ul>li:nth-child(2):hover>ul{
    opacity: 1;
    height:240px;
}
.bottom>ul>li:nth-child(3):hover>ul{
    opacity: 1;
    height:280px;
}
.bottom>ul>li:nth-child(4):hover>ul{
    opacity: 1;
    height:240px;
}
.bottom>ul>li:nth-child(5):hover>ul{
    opacity: 1;
    height:200px;
}
.bottom>ul>li:nth-child(6):hover>ul{
    opacity: 1;
    height:120px;
}
.bottom>ul>li:nth-child(7):hover>ul{
    opacity: 1;
    height:160px;
}

.bottom>ul>li>ul>li>a{
    width:150px;
    height:40px;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    background:rgba(0,0,0,0.3);
    line-height:40px;
    display:block;
}

.bottom>ul>li>ul>li>a:hover{
    background:#c40000;
}



















