*{margin: 0;padding: 0;}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*头部上部分*/
.top{
    height: 31px;
    line-height: 31px;
    background-color: #f7f7f7;
    border-bottom:1px solid #ccc;
}
.top .container{
    width:1200px;
    margin:0 auto;
}
.top .container>ul{
    float: right;
}
.top .container>ul>li{
    color:#808080;
    font-size: 14px;
    float:left;
    margin-right: 10px;
}
.top .container>ul>li:nth-child(2)::after{
    content:"|";
    color:#cecece;
    padding-left:10px;
}
.top .container>ul>li a{
    color:#808080;
}
.top .container>ul>li a .wz{
    margin-right: 3px;
}
.top .container>ul>li a img{
    width: 20px;
    height:20px;
    vertical-align: middle;
}
.top .container>ul>li a:hover{
    color:#a10000;
}
/*头部中间部分*/
.middle{
    width:1200px;
    height:50px;
    margin:20px auto;
}
.middle .logo{
    float: left;
}
.middle .search{
    width:440px;
    height: 50px;
    float: right;
    overflow: hidden;
}
.middle .search .text{
    width:260px;
    height:30px;
    font-size: 12px;
    border:1px solid #c9caca;
    outline: none;
    padding:0 5px;
    box-sizing: border-box;
    float:left;
}
.middle .search .btn{
    width:50px;
    height:30px;
    line-height: 30px;
    text-align: center;
    color:#fff;
    font-size: 14px;
    border: none;
    outline: none;
    background-color:#b5181d;
}
.middle .shopCar{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color:#b5181d ;
    color:#fff;
    font-size: 12px;
    float: right;
}
.middle .shopCar a{
    color:#fff;
}
.middle .search .shopCar a img{
    width: 20px;
    height:20px;
    vertical-align: middle;
    margin:0 5px;
}
.middle .search p{
    clear: both;
    font-size: 12px;
    color: #808080;
    margin-top: 5px;
    margin-left: 20px;
}

