*{padding: 0;margin:0;}
/* 轮播图 */
#banner{
    width:1200px;
    height:535px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
/* 过渡 */
#ul-imgs.transition{
    transition:all .5s linear;
}
#ul-imgs>li{
    width:1200px;
    float:left;
}
#ul-imgs img{
    width:1200px;
}
/* 小圆点列表 */
#ul-idxs{
    width:125px;
    margin:0 auto;
    list-style:none;
    position:absolute;
    bottom:5px;
    left:50%;
    margin-left:-50px;
}
#ul-idxs>li{
    float:left;
    width:15px;
    height:15px;
    background-color:#cecece;
    border-radius:50%;
    margin:0 5px;
    cursor:pointer;
}
#ul-idxs>li.active{
    background-color:#b5181d;
}
/* 上下按钮 */
#btn-left,#btn-right{
    width:35px;
    height:70px;
    color:#fff;
    font-size:24px;
    font-weight:bold;
    text-align:center;
    line-height:70px;
    border-radius:5px;
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    top:50%;
    margin-top:-35px;
    cursor:pointer;
}
#btn-left{
    left:10px;
}
#btn-right{
    right:10px;
}
#btn-left:hover,#btn-right:hover{
    background-color:rgba(0,100,100,0.2);
}
/* 小圆点 */
#icon{
    width:1200px;
    height:80px;
    background:#fff;
    margin:0 auto;
}
#icon ul{
    text-align:center;
    line-height:80px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
}
#icon ul li img{
    vertical-align:middle;
    padding-right:15px;
}

/*商品列表*/
/*T恤*/
section{
    width:1200px;
    margin:0 auto;
}
#section_top{
    width:1200px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
}
#section_top .title{
    width: 1200px;
    height:60px;
    line-height: 60px;
    margin: 20px auto;
    text-align: center;
    background:linear-gradient(to right, #e34051,#ff803d);
    position: relative;
}
#section_top .title h2{
    color: #fff;
}
#section_top .title a{
    color:#fff;
    position:absolute;
    top:0px;
    right:10px;
}
#section_top .product{
    width:290px;
    height:400px;
    text-align: center;
    border:1px solid #cecece;
    margin:5px 0;
    overflow: hidden;
    transition: all 0.5s linear;
}
#section_top .product:hover{
    border:1px solid #b5181d;
    box-shadow:0 0 10px #9a9a9a;
    transform: scale(1.02);
}
#section_top .product img{
    width:260px;
    height:300px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#section_top .product .imgL{
    transition: 1s linear;
}
#section_top .product .imgL:hover{
    transform: scale(1.1);
}
#section_top .product .price{
    margin-top:10px;
    color:#d80005;
    font-size:18px;
    font-weight:bold;
    text-align:center;
}
#section_top .product .price span{
    font-size:30px;
    padding-left:5px;
}
#section_top .product a h4{
    color:#000;
    font-size:18px;
    text-align:center;
}
/*优选推荐*/
#section_middle h2,#section_bottom h2{
    width:1200px;
    height:50px;
    color: #9a9a9a;
    text-align: center;
    margin: 30px 0;
    border-bottom: 1px solid #cecece;
}
.shirt{
    width: 1200px;
    height:480px;
    box-sizing: border-box;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
}
.shirt{
    margin-bottom: 20px;
}
.shirt .left,.shirt .right{
    text-align: center;
    border:1px solid #cecece;
    overflow: hidden;  
}
.shirt .left:hover,
.shirt .right:hover{
    border: 1px solid #b5181d;
    opacity: 0.8;
}
.shirt img{
    display: block;
}
.shirt p{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: left;
    padding:0 10px;
}
.shirt p a{
    color:#b5181d;
    float: right;
}
.shirt .center_top{
    margin-bottom: 40px;
}
.shirt .center_top,.shirt .center_bottom{
    border:1px solid #cecece;
}
.shirt .center_top:hover,
.shirt .center_bottom:hover{
    border:1px solid #b5181d;
    opacity: 0.8;
}
/*下装推荐*/
#section_bottom{
    width:1200px;
    margin:0 auto;  
    box-sizing: border-box;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    margin-bottom:30px;
}
#section_bottom .pant{
    width:285px;
    height:480px;
    border:1px solid #cecece;
    overflow: hidden;
    transition: all 0.5s linear;
}
#section_bottom .pant:hover{
    border: 1px solid #b5181d;
    box-shadow:0 0 20px #cecece;
    transform: scale(1.02);
    transform: translateY(-10px);   
}
 .pant p{
    width:285px;
    height:40px;
    line-height: 40px;
    padding:0 10px;
    box-sizing: border-box;
}
.pant p a{
    color:#b5181d;
    float: right;
}







