*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    width:1200px;
    margin:20px auto;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

/* 头部 */
#header{
    height:50px;
    border-bottom:1px solid #7a7f89;
}
#header ul{
    float:right;
}
#header ul li{
    float:left;
    padding-right:10px;
    color:#808080;
    font-size:14px;
}
#header ul li:nth-child(2)::after{
	content:"|";
	color:#cecece;
	padding-left:10px;
}
#header ul li a{
    color:#a10000;
}
/* 中间购物车部分 */
#middle{
	margin-bottom:20px;
}
#middle .next{
    margin-top: 20px;
    height:28px;
    line-height: 28px;
    background:url("../img/shopCar/next.gif") no-repeat;
}
#middle .next ul li{
    float:left;
    width: 180px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color:#666;
}
#middle .next ul li.active{
    color:#fff;
}
#middle .cart-top{
    margin:10px 0;
}
#middle .cart-top img{
    float: left;
    margin-right: 20px;
}
#middle .cart-top h2{
    height:40px;
    line-height: 40px;
    margin-bottom:5px;
}
#middle .cart-top p{
    font-size: 14px;
    color:#666;
}
#middle .cart-top p span{
    color:#a10000;
}

/*购物车表格*/
#middle .cartTable{
    width:1200px;
}
#middle .cartTable>table{
    width:1200px;
    text-align:center;
    border:1px solid #000000;
    border-collapse: collapse;
}
#middle .cartTable>table>thead>tr{
    height:40px;
}

#middle .cartTable>table>tbody{
    color:#666;
    font-size: 14px;
}
#middle .cartTable>table>tbody>tr{
    height:60px;
}
#middle .cartTable>table>tbody>tr>td>a{
    color:#666;
}
#middle .cartTable>table>tbody>tr>td>img{
    width:50px;
    height:50px;
    border: 1px solid #cecece;
}
#middle .cartTable>table>tbody>tr>td>button{
    width:20px;
    height: 20px;
    text-align: center;
    border:1px solid #666;
    background-color: #cecece;
    outline: none;
    margin:0 5px;
}
#middle .cartTable input[type="checkbox"]{
    width:15px;
    height:15px;
    vertical-align: middle;
}
#middle .cartTable>table>tbody>tr>td>input[type="text"]{
    width:30px;
    height:20px;
    outline: none;
    font-size: 12px;
    text-align: center;
    padding:3px;
    border:1px solid #666;
}

/*总计部分*/
#middle .cartTable>.bar{
    width:1200px;
    height:120px;
    margin-top: 10px;
    padding:20px;
    border:1px solid #cecece;
}
#middle .cartTable>.bar>.bar-top{
    margin-bottom:10px;
}
#middle .cartTable>.bar>.bar-top a{
    color:#000;
    margin-left: 10px;
}
#middle .cartTable>.bar>.bar-top a:hover{
    color:#b5181d;
}
#middle .cartTable>.bar>.bar-bottom{
    height:50px;
    line-height: 50px;
}
#middle .cartTable>.bar>.bar-bottom>p{
    width:300px;
    font-size: 14px;
    float: left;
}
#middle .cartTable>.bar>.bar-bottom>p>span{
    color:#b5181d;
    font-size:24px;
    font-weight: bold;
}
#middle .cartTable>.bar>.bar-bottom>a{
    width:160px;
    height:50px;
    text-align: center;
    line-height: 50px;
    font-size:20px;
    color:#fff;
    background:#a10000;
    border-radius: 5px;
    display:inline-block;
    float:right;
}
#middle .cartTable>.bar>.bar-bottom>a>span{
    font-weight:bold;
    padding-right:10px;
}